<h1>Listing forums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for forum in @forums %>
  <tr>
    <td><%=h forum.name %></td>
    <td><%=h forum.description %></td>
    <td><%= link_to 'Show', forum %></td>
    <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
    <td><%= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
更新时间：
<%= link_to_remote "更新",
  :update => 'current_time',
  :url => {:action => 'get_time'},
  :before => "$('current_time').hide() ; $('indicate').show()" ,
  :success => "$('current_time').visualEffect('highlight')",
  :failure => "alert('There was an error.')",
  :complete => "$('indicate').hide() ; $('current_time').show()" %>
  <div id='indicate' style="display:none;">
    loading ...
  </div>
  <div id = 'current_time'>
    
  </div>
  
<br />

<%= link_to 'New forum', new_forum_path %>
